# 
**/__pycache__/
sr/
.env
.env.*
.venv/
.vscode/
.idea/
*.log
logs/

# backend
backend/data/
backend/database-dataset/*.csv
backend/modules/ai/*.txt
*.pyc
*.pyo

# frontend
frontend/dist/
frontend/node_modules/

# OS
.DS_Store
Thumbs.db

# audio
audio/