@import "tailwindcss";

@layer base {
  body {
    @apply bg-slate-950 text-slate-100 antialiased min-h-screen font-sans;
  }
}

/* Custom scrollbar cho bảng và sidebar admin */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #020617;
}
::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #334155;
}